html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.center {
	height: 100vh;
}
.list-item {
	padding: 0;
	padding-left: 5px;
	font-size: 14px;
}
.mealThumb {
	height: 420px;
}
